/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require bootstrap
*= require mobile
*= require_self
*/

#top-navigation .container-fluid {
    max-height: 35px;
    float: left;
    display: block;
    width: 100%;
    padding-top: 7px !important;
}

a.brand {
    color: white;
    font-weight: bold;
    top: 8px;
    font-size: 14px;
    width: 12%;
    display: inline-block;
    float: left;
}

.navigation-details {
    font-size: 13px;
    color: #ffffff;
    width: 88%;
    display: inline-block;
    float: left;
}

.navigation-details ul {
    list-style-type: none;
}

.navigation-details ul li {
    float: left;
    padding-right: 35px;
}

.navigation-details ul li.logout-link, .navigation-details ul li.gallery-link , .navigation-details ul li.profile-link {
    margin-right: 10px;
}

.navigation-details ul li a {
    color: #ffffff;
}

.navbar {
    max-height: 35px !important;
    min-height: 35px !important;
    width: 100%;
}

table td, table th {
    padding: 5px !important;
}

form#imageForm input {
    width: 300px;
}

form#imageForm input[type=file] {
    display: inline;
    border: none;
    padding: 0;
}