/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require bootstrap
*= require mobile
*= require_self
*/
a.brand {
    color: white;
    font-weight: bold;
    top: 8px;
    position: relative;
    font-size: 14px;
}

.navbar {
    max-height: 35px !important;
    min-height: 35px !important;
}

table td, table th {
    padding: 5px !important;
}