#gallery-main-section {
    width: 85%;
    margin: auto;
    margin-top: 80px;
    position: relative;
}

.image-tile {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) !important;
    background: #F4F4F4 !important;
    border: 1px solid #86888B;
    border-radius: 4px;
    width: 160px;
    height: 190px;
    float: left;
    margin: 10px;
    padding: 10px;
}

.image-section {
    width: 140px;
    height: 140px;
}

.image-section .image-inner-area {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
    width: 140px !important;
    height: 140px !important;
}

.title-section {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.mfp-no-margins img.mfp-img {
    padding: 0 !important;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0 !important;
    bottom: 0 !important;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0 !important;
}

.mfp-content {
    min-width: 300px;
    vertical-align: middle;
}

.mfp-figure:after {
    box-shadow: 0 0 0 #ccc !important;
    background: none !important;
}

.mfp-title {
    text-align: center !important;
    padding-right: 0 !important;
    padding-left: 45px !important;
}

.editImageLink.editBtn {
    cursor: pointer;
    float: right;
    width: 90px;
    height: 25px;
    line-height: 25px;
    color: white;
    text-decoration: none;
    font-family: 'oxygenregular';
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 1px;
    background: rgb(22, 140, 182);
    border: 1px solid rgb(6, 115, 155);
}

#edit-image-modal .modal-dialog .modal-content {
    border-radius: 6px !important;
}

#edit-image-modal .modal-dialog .modal-body {
    min-height: 200px;
}

#edit-image-modal .modal-dialog .modal-heading {
    padding-bottom: 9%;
}

#edit-image-modal .modal-dialog .modal-heading h3 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: #3275aa;
}
#edit-image-modal .modal-dialog .modal-heading i.cancel-icon {
    margin: -2% -2% 0 0;
    display: inline;
    background: url('../../images/icons/black-cross-14X14.png') no-repeat !important;
    padding-right: 15px;
    height: 20px;
    opacity: 1;
    float: right;
}